openapi: 3.2.0
info:
  title: Truework Qualifications & Tenant Properties API (Beta) Subpackage Tenant Properties API
  description: 'Public beta surfaces of the Truework API covering Qualification Checks (lightweight income/employment knockout decisions against a borrower''s verified employment data) and Tenant Properties (provider-defined verification configuration knobs). These endpoints are in public beta and the schema may evolve.

    '
  version: 2023-10-30-beta
  contact:
    name: Truework Implementations
    email: implementations@truework.com
    url: https://www.truework.com/docs
  license:
    name: Truework Terms of Service
    url: https://www.truework.com/legal/terms
servers:
- url: https://api.truework-sandbox.com
- url: https://api.truework.com
tags:
- name: subpackage_tenantProperties
paths:
  /tenant-properties:
    post:
      operationId: create-new-tenant-property
      summary: Create a tenant property
      description: 'Creates a new tenant property and returns a JSON object with the resulting property.


        <Warning>

        This endpoint is in beta and is subject to change. Please contact [implementations@truework.com](mailto:implementations@truework.com) for more information before integrating.

        </Warning>

        '
      tags:
      - subpackage_tenantProperties
      parameters:
      - name: Authorization
        in: header
        description: 'Bearer tokens conform to the [RFC6750](https://datatracker.ietf.org/doc/html/rfc6750#section-2.1) spec.



          Production API keys (secret keys) are prefixed with `tw_sk_` and sandbox keys are prefixed with `tw_sk_test_`. If your secret key is published, you should rotate your API keys.


          Truework.JS publishable keys are prefixed with `tw_pk_` and `tw_pk_test` respectively.



          **Examples**

          - For Authorization Headers: `Authorization: Bearer tw_sk_test_e508eb797edb95ade85284bcb54dd49ed45db1be`

          - For the "try it now" `token` field, input only the token itself, omitting `Bearer `.'
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: Specify the content type and version that the API should use. It's recommended to include this to avoid breaking changes.
        required: false
        schema:
          $ref: '#/components/schemas/TenantPropertiesPostParametersAccept'
          default: application/json
      responses:
        '201':
          description: Tenant property successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantPropertyResourceV20231030'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: The request's authorization is missing, invalid, or expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '406':
          description: An invalid API version was requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error406'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error429'
        '451':
          description: Frozen SSN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error451'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
        '501':
          description: Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error501'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantPropertyCreatePostRequestV20231030'
    get:
      operationId: get-all-tenant-properties
      summary: Get all tenant properties
      description: Retrieves all tenant properties
      tags:
      - subpackage_tenantProperties
      parameters:
      - name: limit
        in: query
        description: Limit the number of results returned.
        required: false
        schema:
          type: integer
          default: 25
      - name: offset
        in: query
        description: Offset the results by page
        required: false
        schema:
          type: integer
          default: 0
      - name: Authorization
        in: header
        description: 'Bearer tokens conform to the [RFC6750](https://datatracker.ietf.org/doc/html/rfc6750#section-2.1) spec.



          Production API keys (secret keys) are prefixed with `tw_sk_` and sandbox keys are prefixed with `tw_sk_test_`. If your secret key is published, you should rotate your API keys.


          Truework.JS publishable keys are prefixed with `tw_pk_` and `tw_pk_test` respectively.



          **Examples**

          - For Authorization Headers: `Authorization: Bearer tw_sk_test_e508eb797edb95ade85284bcb54dd49ed45db1be`

          - For the "try it now" `token` field, input only the token itself, omitting `Bearer `.'
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: Specify the content type and version that the API should use. It's recommended to include this to avoid breaking changes.
        required: false
        schema:
          $ref: '#/components/schemas/TenantPropertiesGetParametersAccept'
          default: application/json
      responses:
        '200':
          description: Tenant Properties
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantPropertyListResourceV20231030'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: The request's authorization is missing, invalid, or expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '406':
          description: An invalid API version was requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error406'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error429'
        '451':
          description: Frozen SSN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error451'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
        '501':
          description: Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error501'
  /tenant-properties/{tenant_property_id}:
    get:
      operationId: get-one-tenant-property
      summary: Get one tenant property
      description: Retrieves a tenant property by id.
      tags:
      - subpackage_tenantProperties
      parameters:
      - name: tenant_property_id
        in: path
        description: Tenant Property ID
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'Bearer tokens conform to the [RFC6750](https://datatracker.ietf.org/doc/html/rfc6750#section-2.1) spec.



          Production API keys (secret keys) are prefixed with `tw_sk_` and sandbox keys are prefixed with `tw_sk_test_`. If your secret key is published, you should rotate your API keys.


          Truework.JS publishable keys are prefixed with `tw_pk_` and `tw_pk_test` respectively.



          **Examples**

          - For Authorization Headers: `Authorization: Bearer tw_sk_test_e508eb797edb95ade85284bcb54dd49ed45db1be`

          - For the "try it now" `token` field, input only the token itself, omitting `Bearer `.'
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: Specify the content type and version that the API should use. It's recommended to include this to avoid breaking changes.
        required: false
        schema:
          $ref: '#/components/schemas/TenantPropertiesTenantPropertyIdGetParametersAccept'
          default: application/json
      responses:
        '200':
          description: Tenant Property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantPropertyResourceV20231030'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: The request's authorization is missing, invalid, or expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '406':
          description: An invalid API version was requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error406'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error429'
        '451':
          description: Frozen SSN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error451'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
        '501':
          description: Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error501'
    put:
      operationId: update-one-tenant-property
      summary: Update one tenant property
      description: Updates a tenant property.
      tags:
      - subpackage_tenantProperties
      parameters:
      - name: tenant_property_id
        in: path
        description: Tenant Property ID
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'Bearer tokens conform to the [RFC6750](https://datatracker.ietf.org/doc/html/rfc6750#section-2.1) spec.



          Production API keys (secret keys) are prefixed with `tw_sk_` and sandbox keys are prefixed with `tw_sk_test_`. If your secret key is published, you should rotate your API keys.


          Truework.JS publishable keys are prefixed with `tw_pk_` and `tw_pk_test` respectively.



          **Examples**

          - For Authorization Headers: `Authorization: Bearer tw_sk_test_e508eb797edb95ade85284bcb54dd49ed45db1be`

          - For the "try it now" `token` field, input only the token itself, omitting `Bearer `.'
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        description: Specify the content type and version that the API should use. It's recommended to include this to avoid breaking changes.
        required: false
        schema:
          $ref: '#/components/schemas/TenantPropertiesTenantPropertyIdPutParametersAccept'
          default: application/json
      responses:
        '200':
          description: Tenant Property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantPropertyResourceV20231030'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error400'
        '401':
          description: The request's authorization is missing, invalid, or expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error403'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error404'
        '406':
          description: An invalid API version was requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error406'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error429'
        '451':
          description: Frozen SSN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error451'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
        '501':
          description: Not Implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error501'
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantPropertyUpdatePutRequestV20231030'
components:
  schemas:
    TenantPropertyResourceV20231030:
      type: object
      properties:
        address_line_1:
          type:
          - string
          - 'null'
        address_line_2:
          type:
          - string
          - 'null'
        address_line_3:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        id:
          type: string
        name:
          type: string
        postal_code:
          type:
          - string
          - 'null'
        state:
          type:
          - string
          - 'null'
        status:
          type: string
      required:
      - address_line_1
      - address_line_2
      - address_line_3
      - city
      - id
      - name
      - postal_code
      - state
      - status
      title: TenantPropertyResourceV20231030
    Error406:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
      required:
      - error
      title: Error406
    Error400:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/_InvalidRequestError'
      required:
      - error
      title: Error400
    TenantPropertiesTenantPropertyIdGetParametersAccept:
      type: string
      enum:
      - application/json
      - application/json; version=2023-10-30
      default: application/json
      title: TenantPropertiesTenantPropertyIdGetParametersAccept
    TenantPropertiesTenantPropertyIdPutParametersAccept:
      type: string
      enum:
      - application/json
      - application/json; version=2023-10-30
      default: application/json
      title: TenantPropertiesTenantPropertyIdPutParametersAccept
    TenantPropertiesGetParametersAccept:
      type: string
      enum:
      - application/json
      - application/json; version=2023-10-30
      default: application/json
      title: TenantPropertiesGetParametersAccept
    TenantPropertyUpdatePutRequestV20231030:
      type: object
      properties:
        address_line_1:
          type:
          - string
          - 'null'
        address_line_2:
          type:
          - string
          - 'null'
        address_line_3:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        name:
          type: string
        postal_code:
          type:
          - string
          - 'null'
        state:
          type:
          - string
          - 'null'
      required:
      - name
      title: TenantPropertyUpdatePutRequestV20231030
    Error451:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
      required:
      - error
      title: Error451
    TenantPropertyCreatePostRequestV20231030:
      type: object
      properties:
        address_line_1:
          type:
          - string
          - 'null'
        address_line_2:
          type:
          - string
          - 'null'
        address_line_3:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        name:
          type: string
        postal_code:
          type:
          - string
          - 'null'
        state:
          type:
          - string
          - 'null'
      required:
      - name
      title: TenantPropertyCreatePostRequestV20231030
    TenantPropertiesPostParametersAccept:
      type: string
      enum:
      - application/json
      - application/json; version=2023-10-30
      default: application/json
      title: TenantPropertiesPostParametersAccept
    Error:
      type: object
      properties:
        message:
          type: string
      required:
      - message
      title: Error
    Error500:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
      required:
      - error
      title: Error500
    Error404:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
      required:
      - error
      title: Error404
    Error401:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
      required:
      - error
      title: Error401
    TenantPropertyListResourceV20231030:
      type: object
      properties:
        count:
          type: integer
        next:
          type:
          - string
          - 'null'
        previous:
          type:
          - string
          - 'null'
        results:
          type: array
          items:
            $ref: '#/components/schemas/TenantPropertyResourceV20231030'
      required:
      - count
      - next
      - previous
      - results
      title: TenantPropertyListResourceV20231030
    Error429:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
      required:
      - error
      title: Error429
    Error403:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
      required:
      - error
      title: Error403
    _InvalidRequestError:
      type: object
      properties:
        message:
          type: string
          default: Invalid field values provided
      required:
      - message
      title: _InvalidRequestError
    Error501:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/Error'
      required:
      - error
      title: Error501
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      description: 'Bearer tokens conform to the [RFC6750](https://datatracker.ietf.org/doc/html/rfc6750#section-2.1) spec.



        Production API keys (secret keys) are prefixed with `tw_sk_` and sandbox keys are prefixed with `tw_sk_test_`. If your secret key is published, you should rotate your API keys.


        Truework.JS publishable keys are prefixed with `tw_pk_` and `tw_pk_test` respectively.



        **Examples**

        - For Authorization Headers: `Authorization: Bearer tw_sk_test_e508eb797edb95ade85284bcb54dd49ed45db1be`

        - For the "try it now" `token` field, input only the token itself, omitting `Bearer `.'
